<div class="container">
  <br><br>
  <div>
    <h3 >Tabela FIPE</h3>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <label>Marca</label>
      <select [(ngModel)]="idMarca" name="marca" class="form-control" (change)="onChangeMarca()">
        <option *ngFor="let item of marcas" [ngValue]="item.id">{{item.name}}</option>
      </select>
    </div>
    <div class="col-sm-6">
      <label>Modelo</label>
      <select [(ngModel)]="idVeiculo" name="veiculo" class="form-control" (change)="buscarFipe()">
        <option *ngFor="let item of veiculos" [ngValue]="item.id">{{item.name}}</option>
      </select>
    </div>
  </div>

  <br>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Ano</th>
        <th>Valor</th>
        <th>Alteração</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of detalhes">
        <td>{{item.ano}}</td>
        <td>{{item.valor}}</td>
        <td>{{item.diferencaValor}} <label *ngIf="item.porcentagem != null">( {{item.porcentagem}} )</label></td>
      </tr>
    </tbody>
  </table>
  <alert *ngIf="detalhes.length == 0" type="warning">Selecione marca e modelo</alert>
</div>